!!!
%html
  %head
    - set blogName = config.get('codrpress.info.blog_title')|default('CodrPress')
    %title= "#{title|default('')} - #{blogName}"
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "#{app.request.basepath}/web/css/screen.css"}
  %body
    .container
      .row
        .span12
          %header= blogName
          .navbar.navbar-inverse
            .navbar-inner
              .container
                %ul.nav
                  %li.dropdown{:class => (app.config.get('codrpress.views.activeNavItem') == 'posts' ? 'active' : false)}
                    %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'} Posts <b class="caret"></b>
                    %ul.dropdown-menu
                      %li
                        %a{:href => path('admin_posts')} List
                      %li
                        %a{:href => path('admin_post_new')} New
          - block body
            &nbsp;
          %footer
            %a{:href => 'https://github.com/MadCatme/CodrPress'} powered by CodrPress
        .span3
    %script{:type => 'application/javascript', :src => "#{app.request.basepath}/web/js/jquery-1.8.2.min.js"}
    %script{:type => 'application/javascript', :src => "#{app.request.basepath}/web/js/bootstrap.min.js"}