- import 'tools.haml' as tools
- if posts is defined
  - for post in posts
    %article
      %h1
        - if page == false
          %a{:href => app.url_generator.generate('post', post.getLinkParams())}= post.title
        - else
          = post.title
      - spaceless
        %p.meta
          %time{:datetime => post.created_at|date('c')}= tools.niceDate(post.created_at)
          -# if post.tags is defined
            - for tag in post.tags
              %a{:href => app.url_generator.generate('tag', {'tag': tag})}
                %span.label= tag
      .content= post.body_html|raw