{% import 'tools.twig' as tools %}
{% for post in posts %}
    <article>
        <h1>{% if page == false %}<a href="{{ app.url_generator.generate('post', post.getLinkParams()) }}">{% endif %}{{ post.title }}{% if page == false %}</a>{% endif %}</h1>
        {% if post.subtitle is defined and post.subtitle is not empty %}<h2>{{ post.subtitle }}</h2>{% endif %}
        {% spaceless %}
            <p class="meta">
                <time datetime="{{ post.created_at|date('c') }}">{{ tools.niceDate(post.created_at) }}</time>
                {% if post.tags is defined %}
                    {% for tag in post.tags %}
                        <a href="{{ app.url_generator.generate('tag', {'tag': tag}) }}">
                            <span class="label">{{ tag }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
            </p>
        {% endspaceless %}
        <div class="content">
            {{ post.body_html|raw }}
        </div>
    </article>
{% endfor %}
