<!DOCTYPE html>
%html
  %head
    - set blogName = config.DbConfig.blog_title|default('CodrPress')
    %title
      - block title
        \- #{blogName}
    %meta{:name => 'Viewport', :content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0'}
    %link{:rel => 'alternate', :type => 'application/atom+xml', :href => app.url_generator.generate('feed')}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "#{app.request.basepath}/web/css/bootstrap.min.css"}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "#{app.request.basepath}/web/css/codrpress.css"}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "#{app.request.basepath}/web/css/responsive.css"}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "#{app.request.basepath}/web/css/pygments-monokai.css"}
  %body
    .container
      %header
        %a{:href => app.url_generator.generate('home')}= blogName
      .row
        .span7
          - block body
            &nbsp;
        .span3.offset2
          - if tags is defined
            %section.tags
              - for tag in tags
                %span
                  %a{:href => app.url_generator.generate('tag', {'tag': tag.name})}= tag.name
      %footer
        %a{:href => 'https://github.com/MadCatme/CodrPress'} powered by CodrPress
    %script{:type => 'application/javascript', :src => "#{app.request.basepath}/web/js/jquery-1.8.2.min.js"}
    %script{:type => 'application/javascript', :src => "#{app.request.basepath}/web/js/bootstrap.min.js"}